body {
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

@font-face {
  font-family: 'Airstream';
  src: url('https://static.wfonts.com/data/2015/12/29/airstream/AirstreamNF.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Retron2000';
  src: url('https://fonts.cdnfonts.com/s/18145/Retron2000.woff') format('woff2');
  font-display: swap;
}

#main {
    position: static;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin-block: 2%;
    margin-inline: 10%;
    padding: 2%;
    border-radius: 50px;
}
#header {
    background-color: #1f1f1f;
    padding-bottom: 30px;
    margin-block: 50px;
    border-radius: 5px;
}
#title {
    color: white;
    margin: 0px;
    font-family: 'Airstream';
    font-size: 12vw;
    text-align: center;
    text-shadow: 0.2rem 0.2rem rgb(137, 99, 240), 0.4rem 0.4rem rgb(107, 63, 226);
    cursor: default;
    transition: text-shadow 0.4s ease-out;
}
#title:hover {
    text-shadow: 0.2rem 0.2rem rgb(137, 99, 240), 0.4rem 0.4rem rgb(107, 63, 226), 0.8rem 0.8rem rgb(133, 98, 230);
}
.divider {
    height: 20%;
    width: auto;
    margin-block-end: 2%;
    padding: 1%;
    border-radius: 5px;
    background-color: #1f1f1f;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.356);
    transition: box-shadow 0.3s ease-out;
}
.divider_heading {
    position: relative;
    width: auto;
    margin-inline: auto;
    padding-bottom: 0.5%;
    border-bottom: solid 10px rgb(107, 63, 226);
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column {
    width: 33.333%;
    height: auto;
}
.entry {
    height: 400px;
    width: auto;
    margin-inline: 3%;
    margin-block-end: 6%;
    padding: 3%;
    border-radius: 5px;
    background-color: #1f1f1f;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.356);
    transition: box-shadow 0.3s ease-out;
}
.entry:hover {
    box-shadow: 3px 3px rgb(255, 255, 255), 10px 10px 10px rgb(107, 63, 226);
}
.entry_heading {
    position: relative;
    width: fit-content;
    margin: 1.5%;
    padding-bottom: 1%;
    border-bottom: solid 5px rgb(107, 63, 226);
}
h2 {
    font-family: 'Retron2000';
    color: white;
    margin: 0px;
    font-size: 3vw;
    text-shadow: 0.2rem 0.2rem rgb(137, 99, 240);
    cursor: default;
    text-align: center;
}
h3 {
    font-family: 'Retron2000';
    color: white;
    margin: 0px;
    font-size: 1.5vw;
    text-shadow: 0.2rem 0.2rem rgb(137, 99, 240);
    cursor: default;
}