body {
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
@font-face {
  font-family: 'airstream';
  src: url('https://static.wfonts.com/data/2015/12/29/airstream/AirstreamNF.woff') format('woff');
  font-display: swap;
}
#main {
    position: static;
    background-color: rgba(0, 0, 0, 0.5);
    margin-block: 2%;
    margin-inline: 10%;
    padding: 1%;
    border-radius: 50px;
    height: 2000px;
}
#header {
    background-color: #1f1f1f;
    padding-bottom: 30px;
    margin-block: 50px;
}
#title {
    color: white;
    margin: 0px;
    font-family: airstream;
    font-size: 10vw;
    text-align: center;
    text-shadow: 0.2rem 0.2rem rgb(137, 99, 240), 0.4rem 0.4rem rgb(107, 63, 226);
    cursor: default;
    text-size-adjust: initial;
    transition: text-shadow 0.4s ease-out;
}
#title:hover {
    text-shadow: 0.2rem 0.2rem rgb(137, 99, 240), 0.4rem 0.4rem rgb(107, 63, 226), 0.7rem 0.7rem rgb(133, 98, 230);
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.entry {
    height: 1000px;
    width: 31%;
    background-color: #1f1f1f;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.356);
    transition: box-shadow 0.3s ease-out;
}
.entry:hover {
    box-shadow: 3px 3px rgb(255, 255, 255), 10px 10px 10px rgb(107, 63, 226);
}